<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Slot-Machine-3</title>
</head>
<body>
<div>
    <div>
        <div id="ring1" class="ring">{{[0]}}</div>
        <div id="ring2" class="ring">{{[1]}}</div>
        <div id="ring3" class="ring">{{[2]}}</div>
    </div>
    <div>
        <button onclick="#">Start</button>
    </div>
</div>
</body>
</html>