<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Slot-Machine-3</title>
</head>
<body>
    <div>
        {{range .}}
            <div>{{.}}</div>
        {{end}}
    </div>
    <div>
        <button onclick="location.reload()">Start</button>
    </div>
</body>
</html>